$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';

//Colors:
$black: #3b3131;
$dk-green: #46472b;
$lt-green: #b5b690;
$white: #f1f1dc;
$pink: #8f0853;

$dancing-script: 'Dancing Script', cursive;;
$garamond-script: 'EB Garamond', serif;

/* Space out content a bit */
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: $garamond-script;
}

/*Utilities*/
.container{
  position: relative;
  margin: 0 auto;
}

/*Mixins:*/
@mixin button-generator($width, $height, $border, $border-radius, $color, $font-size){
  width: $width;
  height: $height;
  border: $border;
  text-align: center;
  color: $color;
  font-size: $font-size;
  @include border-radius($border-radius);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
   
}

/***************Styles used on multiple pages**************************/

/*Footer's sytles*/
.footer{
    height: 80px;
    color: $lt-green;
    background: $black;
    text-align: center;
    padding-top: 15px;

    h5{
        margin-top: 10px;
    }

    a{
        color: $pink;
    }
}

/*Header styles:*/
header{
    background: $black;
    border-bottom: 1px solid $dk-green;
    height: 80px;
    padding: 10px 0 5px 0;
    
    h3.text-muted{
        font-family: $dancing-script;
        color: $lt-green;
        font-size: 36px;
        line-height: inherit;
    }

    ul{
        padding-top: 14px;

        li a{
            font-size: 18px;
            color: $lt-green;
        }
    }

    .nav li a:hover{
        color: $white;
        background: $pink;
    }
}

.sub-header{
    text-align: center;
    padding: 25px 5px;
    background: $white;
    color: $dk-green;
    box-shadow: inset 0 -1px 2px $lt-green,
                inset 0 1px 2px $lt-green;
}

textarea{
    border: none;
}

/*Basic tumbnail looks:*/
a.thumbnails {
    display: inline-block;
    text-decoration: none;
    box-shadow: 1px 1px 3px gray;
    font-size: 18px;
    @include border-radius(6px);

    img{
        width: 300px;
        height: 250px;
        @include border-radius(6px 6px 0 0);
    }

    .thumbnail-header{
        background: rgba(3, 3, 3, 0.6);
        color: $white;
        font-size: 16px;
        position: absolute;
        height: 35px;
        width: 300px;
        text-align: left;
        padding: 8px 10px;
        @include border-radius(6px 6px 0 0);

        span:nth-child(2){
            float: right;
        }
    }

    .thumbnail-footer{
        text-align: left;
        padding: 5px;
        background: $lt-green;
        color: $black;
        @include border-radius(0 0 6px 6px);

        h4 {
            font-weight: 700;
            font-size: 20px;
            margin-top: 0;
        }

        span{
            font-size: 17px;
        }
    }

    &:hover{
        box-shadow: none;
    }
}

input{
    background: white;
}

/***********************End of re-used styles****************************/

/*Homepage styles:*/
.homepage-guts{
    text-align: center;

    p{
        font-size: 20px;
        padding-top: 10px;
    }
    
    .home-welcome{
        background: url(/../images/makeadifference440.jpeg) no-repeat rgba(255,255,255, .3);
     
        .textbox{
            padding-top: 30px;
            height: 440px;
            font-weight: 700;
            background: rgba(255,255,255,.3);

            p{
                font-size: 21px;
                margin-bottom: 25px;
            }
        }

        .home-focus{
            height: 350px;
            border-bottom: 1px solid #9E9F8C;
            box-shadow: 1px 0 2px $lt-green;
            

            .start-btns{
                padding-top: 40px;

                button{
                    width: 200px;
                    padding: 8px;
                    font-size: 24px;
                    background: $lt-green;
                    @include border-radius(6px);

                    &:first-child{ 
                        margin-right: 15px;
                    }

                    &:hover{
                        background: #80815A;
                    }
                }  
            }
        }
    }

    .upcoming-events{
        background: $white;
        padding-bottom: 50px;
        box-shadow: inset -1px 0 3px $lt-green;

        .upcoming-header{
            color: $dk-green;
            padding: 30px 0 15px;
            margin-bottom: 5px;

            h2{
                margin-bottom: 5px;
            }

            span{
                font-size: 18px;
            }
        }

        .thumbnails {
            margin: 10px 5px; 
        }
    }
}


//About Page styles:
.about-site{
    background: #E7E7D0;

    p{
        font-size: 18px;
        margin: 0 105px;
        padding: 25px;
        line-height: 2em;
        max-width: 720px;

    }

    padding-bottom: 100px; //Probably remove this...better way to stick footer to bottom of browser?
}


//getHelp styles:
.get-help{
    background: #E7E7D0;
    
    h2{
        text-align: center;
    }

    .form-css{
       // margin-left: 20%;
        //width: 840px;
   
        form#event-details {
            background: $lt-green;
            padding: 25px 35px;
            width: 90%;
            margin: 30px 0 60px 55px;
            counter-reset: fieldsets;
            @include border-radius(6px);

            fieldset {
                counter-increment: fieldsets;
                border: none;
                margin-bottom: 10px;
                padding-bottom: 15px;

                &:last-child{
                    margin-bottom: 0;
                    padding-bottom: 5px;
                }
            }

            legend {
                font-family: $dancing-script;
                color: $black;
                font-size: 24px;
                border: none;
                padding-bottom: 10px;
                text-shadow: 0 1px 1px rgb(139,120,87);

                &:before {
                    content: "Step " counter(fieldsets) ": ";
                }
            }

            ul li {
                list-style: none;
                font-size: 20px;
                background: #b9cf6a;
                color: $black;
                background: rgba(255,255,255,.3);
                padding: 5px 10px;
                margin-bottom: 3px;
                @include border-radius(6px);

                &.special-li{
                   height: 48px;
                }

                label {
                    float: left;
                    text-align: right;
                    margin-right: 10px;
                    font-size: 20px;
                    width: 145px;
                    color: $dk-green;

                    &[for="event-pledge"]{
                        width: 445px;
                    }

                    &[for="needed-vols"]{
                        width: 280px;
                        margin-right: 15px;
                    }

                    &[for="event-category"]{
                        width: 346px;
                    }

                    &[for="event-photo"]{
                        width: 65px;
                    }
                }

                input, 
                textarea {
                    background: #F9F9F3;
                    border: none;
                    outline: none;
                    padding: 5px;
                    @include border-radius (3px);
                }

                input{    
                    width: 62%;
                }

                input[type=text],
                     [type=email]{
                    padding: 5px;
                    width: 65%;
                }

                textarea{
                    height: 70px;
                    width: 65%;
                    max-width: 65%;
                    max-height: 70px;
                }

                input:not([type=submit]):focus,
                textarea:focus {
                    background: white;
                    color: $black;
                }

                input[type=date]{
                    width: 190px;
                }
                
                input[type=time]{
                    width: 135px;
                }
                
                input[type=number]{
                    width: 57px;
                }

                input[type=checkbox] {
                    float: left;
                    width: 30px;
                    height: 30px;
                    margin: 4px 40px 0 60px;
                }

                select{
                    margin: 5px 0 0 5px;
                }
            }
              
            button {
                display: block;
                text-transform: uppercase;
                float: right;
                background: $pink;
                padding: 10px 15px;
                font-size: 22px;
                @include border-radius(8px);

                &:hover{
                    background: #80815A;
                    color: $pink;
                    padding: 11px 17px;
                    font-size: 21px;
                }
            }
        }
    }
}

//Messing w/ validation:
#errorContainer {
   display: none;
   overflow: auto;
   background-color: #FFDDDD;
   border: 1px solid #FF2323;
   padding-top: 1;
}

#errorContainer label {
   float: none;
   width: auto;
}

input.error {
   border: 1px solid #FF2323;
}
//End


//Event View:
.event-focus{
    text-align: center;
    color: $black;

    h2{
        font-family: $dancing-script;
    }

    .upper-event-page{
        background: #E7E7D0;
        padding: 25px 0 60px;

        .event-pic,
        .event-info{
            display: inline-block;
            
        }

        .event-pic{
            margin-top: 20px;
            width: 50%;
            
            img{
                width: 100%;
                max-height: 325px;
            }
        }

        .event-info{
            width: 40%;
            margin: 35px 0 0 45px;
            text-align: left;

            p{       
            max-height: 215px;
            overflow: hidden;
            margin-top: 10px;
            font-size: 20px;
            line-height: 1.5em;
            }
        }
    }

    .middle-event-page{
        height: 500px;
        padding-top: 60px;
        background: $lt-green;

        .remaining-event-info{
            text-align: right;
            margin-top: 60px;
            width: 400px;
            font-size: 20px;

            h2{
                margin-bottom: 10px;
            }

            h4{
                font-size: 20px;
                font-style: italic;
                line-height: 1.5em;

                span{
                    margin-left: 5px;
                    font-style: normal;
                }
            }
        }

        #map-canvas{
            width: 45%;
            height: 300px;
            float: right;
        }

        #get-directions-input{
            position: absolute;
            margin: 302px 0 0 575px;
            width: 100px;
            padding: 5px;
            @include border-radius(6px);
            background: $white;
            color: $black;

            &:hover{
                background: #E7E7D0;
            }
        }

        #volunteer{
            margin-top: 50px;
            background: $pink;
            padding: 10px 35px;
            font-size: 22px;
            border: 1px solid #535432;
            box-shadow: 1px 1px $dk-green;
            @include border-radius(8px);

            &:hover{
                background: #80815A;
                color: $pink;
                box-shadow: -1px -1px $dk-green;
            }

        }
    }

    .comment-section{
        padding: 15px 0 60px 0;
        background: #E7E7D0;
        font-size: 18px;
        box-shadow: inset 1px 1px 1px $lt-green; 

        h2{
            margin: 25px 0 15px;
        }

        .add-comment{
            text-align: center;
            margin: 10px 0 35px;
            display: block;

            #new-comment{
                background: white;
                color: $dk-green;
                width: 70%;
                max-width:70%; 
                padding-top: 5px;
                padding-left: 5px;
                height: 75px;
                max-height: 75%;
                border: none;
                border: 1px solid #8C8D65;
                @include border-radius(6px);
            
                &:focus,
                textarea:focus {
                    background: white;
                    color: $dk-green;
                }
            }

            #comment-by{
                background: white;
                color: $white;
                display: block;
                margin-left: 140px;
                margin-top: 10px;
                height: 45px;
                padding-left: 5px;
                width: 30%;
                @include border-radius(6px);

                &:focus,
                textarea:focus {
                    background: white;
                    color: $dk-green;
                }
            }

            #add-comment-btn{
                width: 180px;
                height: 45px;
                float: right;
                margin: -44px 140px 0 0;
                background: #80815A;
                color: $pink;
                @include border-radius(6px);

                &:hover{
                    background: #6F7656;
                    box-shadow: -1px -1px #BDBEA5;
                    color: $dk-green;
                }
            }
        }

        .prev-comments{
            margin-left: 138px;

            li{
                width: 650px;
                background: $lt-green;
                list-style: none;
                border: 1px solid  #8C8D65;
                border-radius: 6px;
                margin-top: 10px;
                padding: 5px;
                text-align: left;
                

                span{
                    margin: 5px;
                    font-style: italic;

                    &:last-child{
                        float: right;
                    }
                }
            }
        }
    }

    //in signup model:
    .modal{

        .modal-header{
            background: $white;
            border-bottom: 1px solid $lt-green;
        }
        
        .modal-body{
            font-size: 18px;
            background: $white;
            color: $dk-green;
            box-shadow: 1px 1px 3px $lt-green;

            input, 
            textarea{
                background: white;
                width: 55%;
                padding: 5px;
                display: block;
                margin-bottom:15px; 
                @include border-radius (6px);

                &:not([type=submit]):focus {
                    background: white;
                    color: $dk-green;
                }
            }
        }
        
        .modal-footer{
            background: $white;
            margin-top: 0; 

            button{
                padding: 5px 10px;
                font-size: 18px;
                @include border-radius(8px);

                &#signup{
                    background: $pink;                   
                    border: 1px solid #535432;


                    &:hover{
                        background: $black;
                        color: $pink;
                        box-shadow: -1px -1px $dk-green;
                    }
                }
            }
        }
    }
}

//Help Out:
.help-out-view{
    background: #E7E7D0;
    padding-bottom: 40px;
    
    .search-opts{
        background: $white;
        font-size: 20px;
        box-shadow: inset 0 -1px 2px $lt-green,
                    inset 0 1px 2px $lt-green;
        ul{
            list-style: none;
            
            li {
                margin-bottom: 30px;
                margin-left: 60px;

                input{
                    padding: 5px;
                    height: 44px;
                    @include border-radius(6px);

                    &:focus{
                        background: white;
                    }
                }
                
                label {
                    padding-top: 5px;
                }

                label[for="desired-date"]{
                    margin-left: 25px;
                }

                a button{
                    margin-right: 75px;
                    margin-top: -2px;
                    width: 120px;
                    height: 44px;
                    float: right;
                    background: #80815A;
                    color: $dk-green;
                    @include border-radius(6px);

                    &:hover{
                        background: #6F7656;
                        box-shadow: -1px -1px #BDBEA5;
                        color: $dk-green;
                    }
                }
            }
        }
    }

    h3{
        text-align: center;
        margin: 20px 0;
    }

    .thumbnails{
        margin: 15px 5px;;
    }
}