$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin: 0;
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

// >>>>>>>>>>>>>>>> Start of Jen's Styles >>>>>>>>>>>>>>>

//**************Styles used on multiple pages*************************
//Footer's sytles
.footer{
    height: 60px;
    background: lightblue;
    margin: 60px 0 0 0;
    text-align: center;
    padding-top: 15px;
}


// Basic tumbnail looks:
.thumbnails {
    display: inline-block;
    text-decoration: none;
    
    img{
            width: 300px;
            height: 250px;
    }

    .thumbnail-header{
        background: rgba(3, 3, 3, 0.6);
        color: white;
        position: absolute;
        height: 35px;
        width: 300px;
        text-align: left;
        padding: 9px 5px;

        span:nth-child(2){
            float: right;
        }
    }

    .thumbnail-footer{
        text-align: left;
        background: oldlace;
        padding: 5px;

        h4 {
            margin-top: 0;
        }
    }
}


//***********************End of re-used styles****************************


//Homepage styles:
.homepage-guts{
    text-align: center;
    
    .home-welcome{
        width: 100%;
        background: url(http://blogiverstravels.files.wordpress.com/2012/02/nemours-community-garden-people-1.jpg) no-repeat;
        height: 400px;

        h1{
            line-height: 300px;//Fix!!! not going to work with smaller screens
        }

        //Design a button mixin?
        button{
            width: 90px;
            height: 45px;
        }
    }

    .upcoming-events{

        .thumbnails {
            margin: 10px; 
        }
    }
}

//getHelp styles:
.get-help{
    h2{
        text-align: center;
        margin-bottom: 25px;
    }
    //Styles shared by all parts...........use isotope or that other one
    .form-important-info,
    .form-sponsor-info,
    .form-extra-info {
        width: 45%;
        font-size: 18px;
        border-radius: 8px;
        box-shadow: 1px 1px 2px;
        padding: 10px;

        h3{
            text-align: center;
            margin: 0 0 15px 0;
        }

        div{
            margin: 5px;

            label{
                width: 25%;
            }

            input{
                width: 200px; //Needs to be different per type of input
            }
        }    
    }

    .form-important-info,
    .form-sponsor-info{
        display: inline-block;
    }

    .form-important-info{
        background: yellowgreen;   
    }

    .form-sponsor-info{
        background: blueviolet;
        margin-left: 50px;

        label:nth-child(2){
            width: auto;
        }
    }

    .form-extra-info{
        background: rgb(254, 67, 100);
        margin: 50px 0 0 300px;

    }
}

//Event View:
.event-focus{
    text-align: center;

    .event-left,
    .event-right{
        display: inline-block;
        margin-top: 20px;
    }

    .event-left{
        img{
            width: 600px;
            height: 475px;
        }
    }

    #map-canvas{
        //position: absolute;
        width: 500px;
        height: 475px;
        margin: -107px 0 0 25px;
    }
}

//Help Out:
.help-out-view{
    h3{
        text-align: center;
        margin-bottom: 20px;
    }
    .thumbnails{
        margin: 20px;
    }
}