//To fix with media queries:
//    - home page header/buttons dropping below pic


$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';

/* Space out content a bit */
body {
    margin: 0;
    padding: 0;
}

/*Utilities*/
.container{
  position: relative;
  margin: 0 auto;
}

//Colors:
$beige: #d1c5b7;
$md-brown: #856941;
$dk-brown: #735d41;
$lt-blue: #0193b7;
$dk-blue: #063e53;

//Mixins:
@mixin button-generator($width,$height,$border, $background, $border-radius,$color,$font-size){
  width: $width;
  height: $height;
  line-height: $height;
  border: $border;
  background: $background;
  text-align: center;
  color: $color;
  font-size: $font-size;
  @include border-radius($border-radius);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

// >>>>>>>>>>>>>>>> Start of Jen's Styles >>>>>>>>>>>>>>>

//**************Styles used on multiple pages*************************
//Header styles:

//Footer's sytles
.footer{
    height: 60px;
    background: $dk-blue;
    text-align: center;
    padding-top: 15px;
}

header{
    background: $lt-blue;
    color: white;
}

.sub-header{
    padding: 25px 5px;
    background: $dk-brown;

    h1{
        margin: 0;
    }
}

// Basic tumbnail looks:
a.thumbnails {
    display: inline-block;
    text-decoration: none;

    img{
            width: 300px;
            height: 250px;
    }

    .thumbnail-header{
        background: rgba(3, 3, 3, 0.6);
        color: white;
        position: absolute;
        height: 35px;
        width: 300px;
        text-align: left;
        padding: 8px 10px;

        span:nth-child(2){
            float: right;
        }
    }

    .thumbnail-footer{
        text-align: left;
        padding: 5px;
        background: white;

        h4 {
            margin-top: 0;
        }
    }
}
//***********************End of re-used styles****************************

//Homepage styles:
.homepage-guts{
    text-align: center;
    
    .home-welcome{

        .home-focus{
            height: 540px;
            background: url(../images/makeadifference2.jpg) no-repeat;

            .start-btns{
                padding-top: 135px;

                button{
                    @include button-generator(200px, 60px,1px solid black, rgb(97, 25, 186), 6px, gray, 20px);
                    //Fix these:
                    // @include text-shadow: $text-shadow;  
                    // @include background-color: $background-color;
                    // @include box-shadow: $box-shadow;

                    &:first-child{
                    margin-right: 15px;
                    }
                }
            }
        }
    }

    .upcoming-events{
        background: #D48F31;
        padding-bottom: 50px;

        .upcoming-header{
            padding-top: 30px;
            margin-bottom: 5px;

            h2{
                margin-bottom: 5px;
            }
        }

        .thumbnails {
            margin: 10px; 
        }
    }
}

//getHelp styles:
.get-help{
    h2{
        text-align: center;
        margin: 0;
    }

    form, fieldset, legend, ul, li {
        margin: 0;
        padding: 0;
    }

    form#event-details {
        background: #5F400C;
        padding: 25px 35px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 60px;
        counter-reset: fieldsets;
        @include border-radius(6px);

        fieldset {
            border: none;
            margin-bottom: 10px;
            counter-increment: fieldsets;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        legend {
            color: beige;
            font-size: 18px;
            border: none;
            font-weight: bold;
            padding-bottom: 10px;
            text-shadow: 0 1px 1px rgb(139,120,87);

            &:before {
                content: "Step " counter(fieldsets) ": ";
            }
        }

        ul li {
            background: #b9cf6a;
            background: rgba(255,255,255,.3);
            border: 1px solid rgba(255,255,255,.6);
            @include border-radius(5px);
            line-height: 30px;
            list-style: none;
            padding: 5px 10px;
            margin-bottom: 3px;

            &.special-li{
                height: 48px;
            }

            label {
                float: left;
                text-align: right;
                margin-right: 10px;
                font-size: 14px;
                width: 125px;

                &#event-pledge{
                    width: 320px;
                }

                &#volunteers-needed{
                    width: 225px;
                }
            }

            input[type=text],
                 [type=email]{
                background: #ffffff;
                border: none;
                @include border-radius (3px);
                outline: none;
                padding: 5px;
                width: 65%;
            }

            textarea{
                height: 70px;
                width: 65%;
                max-width: 65%;
                max-height: 70px;
            }

            input:not([type=submit]):focus,
            textarea:focus {
                background: #eaeaea;
            }

            input[type=date]{
                width: 144px;
            }
            
            input[type=time]{
                width: 82px;
            }
            
            input[type=number]{
                width: 57px;
            }

            input[type=checkbox] {
                float: left;
                margin: 10px 15px 0px 108px;
            }
        }

        button {
            background: brown;
            border: none;
            @include border-radius (20px);
            color: #ffffff;
            display: block;
            font: 18px;
            letter-spacing: 1px;
            margin: auto;
            padding: 7px 25px;
            text-shadow: 0 1px 1px #000000;
            text-transform: uppercase;
            margin-top: 25px;

            &:hover {
                background: #251306;
                cursor: pointer;
            }
        }
    }
}

//Event View:
.event-focus{
    text-align: center;

    .event-pic,
    #map-canvas{
        display: inline-block;
        margin-top: 20px;
    }

    .event-pic{
        width: 50%;

        img{
            width: 100%;
        }
    }

    #map-canvas{
        width: 45%;
        height: 300px;
        float: right;
    }

    #get-directions-input{
        position: absolute;
        margin: -50px 0 0 345px;
        @include button-generator(120px, 35px, 1px solid red, pink, 6px, white, 14px)
    }
}

//Help Out:
.help-out-view{
    h3{
        text-align: center;
        margin-bottom: 20px;
    }
    .thumbnails{
        margin: 20px;
    }
}